<a href="https://colab.research.google.com/github/Josephine-Analytics/Loops-and-conditional-Statements-with-Python/blob/main/Group_7_Assignement_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1)Extract the first 5 characters from a string using slicing.
names = "James Bond"
print(names[:5])

James

In [ ]:
#2)Get the last element of a list using indexing.
names = ["James", "Bond"]
print(names[-1])

Bond

In [ ]:
#3)Reverse a string using slicing.
names = "James","Bond"
print(names[::-1])

('Bond', 'James')

In [ ]:
#4)Create a list of numbers from 1 to 10 and print only the elements at even indices.
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[::2])

[1, 3, 5, 7, 9]

In [ ]:
#5)Change the value of the third element in a list.
fruits = ["apple", "banana", "guava", "pineapple"]
fruits[3] = "pawpaw"
print(fruits)

['apple', 'banana', 'guava', 'pawpaw']

In [ ]:
#6)Create a tuple and print its second and last elements.

fruits = ("apple", "banana", "guava", "pineapple")
print(fruits[1],fruits[-1])

banana pineapple

In [ ]:
#7)Convert a tuple into a list.
fruits = ("apple", "banana", "guava", "pineapple")
print(list(fruits))

['apple', 'banana', 'guava', 'pineapple']

In [ ]:
#8)Check whether a number is positive, negative, or zero using if-elif-else.

number = int(input("Enter a number: "))
if number >0:
  print("number is positive")
elif number <0:
  print("number is negative")
else:
  print("number is zero")

Enter a number: 0
number is zero

In [ ]:
#)Check whether a number is even or odd.

number = int(input("Enter a number: "))
if number % 2 == 0:
  print("number is even")
else:
  print("number is odd")

Enter a number: 33
number is odd

In [ ]:
#10)Use a for loop to print numbers from 1 to 20.

for num in range(1,21):
  print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#11)Use a while loop to print numbers from 10 to 1.

num = 10
while num >= 1:
  print(num)
  num -= 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
#12)Find the sum of all elements in a list using a loop.

number = [20,30,40,50,60]
for num in number:
  print(sum(number))
  break

200

In [ ]:
#OR
n = int(input("How many numbers do you want to enter? "))

total = 0
for i in range(n):
    num = int(input(f"Enter number {i+1}: "))
    total += num

print("Sum =", total)

How many numbers do you want to enter? 5
Enter number 1: 20
Enter number 2: 30
Enter number 3: 40
Enter number 4: 50
Enter number 5: 60
Sum = 200

In [ ]:
#OR
numbers = input("Please enter the numbers: ").split()
total = 0
for num in numbers:
  total += int(num)
print(total)

Please enter the numbers: 20 30 40 50 60
200

In [ ]:
#13)Print all numbers divisible by 3 from a list.

numbers = [1,2,3,4,5,6,7,8,9,10]
for num in numbers:
  if num % 3 == 0:
    print(num)

3
6
9

In [ ]:
#OR
for num in range (1,11):
  if num % 3==0:
    print(num)

3
6
9

In [ ]:
#14)Count how many times a specific value appears in a list.

products = ["mac","fenty","sephora", "mac"]
print(products.count("mac"))

2

In [ ]:
#Count how many times each value appears in a list.
from collections import Counter

products = ["mac","fenty","sephora", "mac"]
print(Counter(products))

Counter({'mac': 2, 'fenty': 1, 'sephora': 1})

In [ ]:
#15)Use a loop and conditional statements to find the largest number in a list.

numbers = input( "Please enter the numbers: ").split()
largest = int(numbers[0])
for num in numbers:
  num = int(num)
  if num > largest:
    largest = num
print(largest)

Please enter the numbers: 20 1 3
20